/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Cursive', cursive;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(150, 108, 189);
}
